<div *ngFor="let content of messages" class="divStyle">
  <mat-list *ngIf="dataservice.group == content.group">
    <h3
      mat-subheader
      class="usernameStyle"
      *ngIf="dataservice.user.username != content.username"
    >
      {{ content.username }}
    </h3>
    <mat-list-item
      class="contentStyle"
      *ngIf="dataservice.user.username != content.username"
    >
      {{ content.msg }}
    </mat-list-item>
    <h3
      mat-subheader
      class="ownUsernameStyle"
      *ngIf="dataservice.user.username == content.username"
    >
      {{ content.username }}
    </h3>
    <mat-list-item
      class="ownContentStyle"
      *ngIf="dataservice.user.username == content.username"
    >
      {{ content.msg }}
    </mat-list-item>
  </mat-list>
</div>
