.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: whitesmoke;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sideNav {
  width: 150px;
  background-color: whitesmoke;
}

.listItems {
  font-size: 25px;
  background-color: whitesmoke;
}

h1.app-name {
  margin-left: 700px;
  font-size: 30px;
}

.sidenav-container {
  background-color: whitesmoke;
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.form-field {
  margin-left: 150px;
  width: 1550px;
  font-size: 20px;
  background-color: whitesmoke;
}

.divStyle {
  margin-left: 20px;
}
