<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button
      mat-icon-button
      (click)="snav.toggle()"
      *ngIf="!check"
      class="iconsStyle"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/main']" (click)="check = false"
      ><button
        mat-button
        *ngIf="check"
        (click)="checkM = false"
        class="iconsStyle"
        (click)="snav.toggle()"
      >
        <mat-icon>keyboard_backspace</mat-icon>
      </button></a
    >
    <h1 class="app-name" *ngIf="check">{{ dataservice.group }}</h1>
    <h1 class="app-name" *ngIf="!check">Group Chats</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      class="sideNav"
      [opened]="true"
    >
      <mat-nav-list>
        <div *ngIf="!check">
          <a
            mat-list-item
            *ngFor="let nav of fillerNav"
            class="listItems"
            [routerLink]="['/group']"
            (click)="clicked(nav)"
            (click)="snav.toggle()"
            >{{ nav }}<mat-divider></mat-divider
          ></a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="divStyle">
        <p *ngIf="!check">Select a Group!</p>
        <router-outlet *ngIf="check"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-form-field class="form-field" *ngIf="checkM">
    <input
      matInput
      type="text"
      placeholder="Message"
      (keyup.enter)="sendMsg()"
      (keyup.enter)="value = ''"
      [(ngModel)]="value"
    />
    <button
      mat-button
      *ngIf="value"
      matSuffix
      mat-icon-button
      (click)="sendMsg()"
      (click)="value = ''"
    >
      <mat-icon>send</mat-icon>
    </button>
    <button
      mat-button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
