<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Group Chats</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      class="sideNav"
    >
      <mat-nav-list>
        <div *ngIf="!check">
          <a
            mat-list-item
            *ngFor="let nav of fillerNav"
            class="listItems"
            [routerLink]="['/group']"
            (click)="clicked(nav)"
            >{{ nav }}<mat-divider></mat-divider
          ></a>
        </div>
      </mat-nav-list>
      <a [routerLink]="['/main']" (click)="check = false"
        ><button mat-button *ngIf="check">Return to Groups</button></a
      >
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="divStyle">
        <p *ngIf="!check">Select a Group!</p>
        <router-outlet *ngIf="check"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-form-field class="form-field">
    <input matInput type="text" placeholder="Message" [(ngModel)]="value" />
    <button
      mat-button
      *ngIf="value"
      matSuffix
      mat-icon-button
      (click)="sendMsg()"
    >
      <mat-icon>send</mat-icon>
    </button>
    <button
      mat-button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
