<h1>{{title}}</h1>
<hr>
<table>
    <tr>
        <td><input type="text" size="40" [(ngModel)]="wsUri"/></td>
        <td><button (click)="doConnect()">connect</button></td>
        <td><button (click)="doDisconnect()">disconn</button></td>
    </tr>
    <tr>
        <td><input type="text"  size="20" [(ngModel)]="myUsername" />
            <input type="text"  size="10" [(ngModel)]="myPassword" /></td>
        <td><button  (click)="doLogin()">login</button></td>
        <td><button  (click)="doLogout()">logout</button></td>
        <td><button  (click)="getGroups()">my groups</button></td>
    </tr>
</table>
    <hr/>
<table>    
    <tr>
        <td><input type="text"  size="40" [(ngModel)]="sendText" /></td>
        <!-- <td><input type="text"  size="20" [(ngModel)]="sendToGroup" /></td> -->
        <td>
        <select [(ngModel)]="sendToGroup" (change)="onGroupChange()">
            <option *ngFor="let group of myGroups" [ngValue]="group">{{group}} </option>
        </select>
        </td>
        <td><button  (click)="doSend()">send</button></td>
    </tr>
</table>

<button class="mdc-button">  <span class="mdc-button__ripple"></span> Learn More</button>

<h2>Messages</h2>
<div *ngFor="let message of inMessages">
    {{message.payload}} {{message.sender}} {{message.group}}
</div>
<hr/>
<button (click)="showLogBuffer=!showLogBuffer">toggle log</button>
<button  (click)="doClear()">clear log</button>
<br>
<textarea *ngIf="showLogBuffer" rows="10" cols="55" [(ngModel)]="logBuffer"></textarea>

